version: '3'
services:
{% if zookeeper %}
  zookeeper:
    image: zookeeper:{{ zookeeper_version }}
    container_name: zookeeper
    hostname: zookeeper
#    ports:
#      - "2181:2181"
    volumes:
      - {{ root_path }}/data/zookeeper/data:/datalog
      - {{ root_path }}/data/zookeeper/log:/data
{% endif %}
{% if kafka %}
  kafka:
    image: wurstmeister/kafka:{{ kafka_version }}
    container_name: kafka
    hostname: kafka
#    ports:
#      - "9092:9092"
    environment:
      KAFKA_ADVERTISED_HOST_NAME: "kafka"
      KAFKA_ADVERTISED_PORT: 9092
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 10
      KAFKA_OFFSETS_RETENTION_MINUTES: 20160
      KAFKA_HEAP_OPTS: "-Xmx256M -Xms256M"
      KAFKA_LOG_DIRS: /kafka/log
{% if zookeeper %}
    depends_on:
      - zookeeper
{% endif %}
    volumes:
      - {{ root_path }}/data/kafka/data:/kafka
      - {{ root_path }}/data/kafka/log:/opt/kafka/log
      - /var/run/docker.sock:/var/run/docker.sock
{% endif %}
{% if mongo %}
  mongodb:
    image: mongo:{{ mongo_version }}
    container_name: mongo
    hostname: mongo
    command: mongod --replSet rs0
 #   ports:
 #     - "27017:27017"
    volumes:
      - ./mongo/initRS.js:/docker-entrypoint-initdb.d/initRS.js
      - {{ root_path }}/data/mongo/configdb:/data/configdb
      - {{ root_path }}/data/mongo/db:/data/db
{% elif postgres %}
  postgres:
    image: postgres:{{ postgres_version }}
    container_name: postgres
    hostname: postgres
    environment:
      - POSTGRES_USER=nxadmin
      - POSTGRES_PASSWORD=nuxeo
    command: ["-c", "shared_buffers=256MB", "-c", "effective_cache_size=1GB", "-c", "work_mem=10MB", "-c", "wal_buffers=16MB", "-c", "full_page_writes=off"]
#    ports:
#      - "5432:5432"
    volumes:
      - ./postgres/init-db.sh:/docker-entrypoint-initdb.d/init-db.sh
      - {{ root_path }}/data/postgres/data:/var/lib/postgresql/data
{% endif %}
{% if elastic %}
  elasticsearch:
    image: {{ elastic_image }}
    container_name: elastic
    hostname: elastic
    labels:
      - "traefik.port=9200"
      - "traefik.frontend.rule=Host:elastic.docker.localhost"
    environment:
      discovery.type: single-node
      ES_JAVA_OPTS: -Xms384m -Xmx384m
{% if elastic5 %}
      xpack.security.enabled: "false"
{% endif %}
    volumes:
      - esdata:/usr/share/elasticsearch/data
{% if kibana %}
  kibana:
    image: docker.elastic.co/kibana/{{ kibana_version }}
    container_name: kibana
    hostname: kibana
    labels:
      - "traefik.port=5601"
      - "traefik.frontend.rule=Host:kibana.docker.localhost"
    environment:
      SERVER_NAME: kibana
      ELASTICSEARCH_URL: http://elasticsearch:9200
    depends_on:
      - elasticsearch
{% endif %}
{% endif %}
{% if graphite %}
  graphite:
    build: graphite
    image: mygraphite:latest
    container_name: graphite
    hostname: graphite
    user: root
    labels:
      - "traefik.port=80"
      - "traefik.frontend.rule=Host:graphite.docker.localhost"
    volumes:
      - {{ root_path }}/data/graphite:/opt/graphite/storage/whisper
{% endif %}
{% if grafana %}
  grafana:
    image: grafana/grafana
    container_name: grafana
    hostname: grafana
    user: root
    labels:
      - "traefik.port=3000"
      - "traefik.frontend.rule=Host:grafana.docker.localhost"
    links:
      - graphite
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - ./grafana/provisioning/:/etc/grafana/provisioning/
      - {{ root_path }}/data/grafana:/var/lib/grafana
{% endif %}
{% if (kafkahq and kafka) %}
  kafkahq:
    image: tchiotludo/kafkahq
    container_name: kafkahq
    hostname: kafkahq
    labels:
      - "traefik.port=8080"
      - "traefik.frontend.rule=Host:kafkahq.docker.localhost"
    depends_on:
      - kafka
    volumes:
      - ./kafkahq/kafkahq.conf:/app/application.conf
{% endif %}
{% for nuxeo_node in nuxeo_nodes %}
  {{ nuxeo_node }}:
    image: nuxeo:{{ nuxeo_version }}
    container_name: {{ nuxeo_node }}
    hostname: {{ nuxeo_node }}
    environment:
      JAVA_OPTS: -Xdebug -Xrunjdwp:transport=dt_socket,address=8787,server=y,suspend=n
{% if redis %}
      NUXEO_REDIS_HOST: redis
{% endif %}
{% if kafka or elastic or mongo or postgres or redis %}
    depends_on:
{% endif %}
{% if kafka %}
      - kafka
{% endif %}
{% if elastic %}
      - elasticsearch
{% endif %}
{% if mongo %}
      - mongodb
{% elif postgres %}
      - postgres
{% endif %}
{% if redis %}
      - redis
{% endif %}
    labels:
      - "traefik.http.port=8080"
      - "traefik.http.frontend.rule=Host:nuxeo.docker.localhost"
      - "traefik.direct.port=8080"
      - "traefik.direct.frontend.rule=Host:{{ nuxeo_node }}-node.docker.localhost"
      - "traefik.backend.healthcheck.path=/nuxeo/runningstatus"
      - "traefik.backend.healthcheck.port=8080"
      - "traefik.backend.healthcheck.interval=10s"
    volumes:
      - ./nuxeo/{{ nuxeo_node }}.conf:/docker-entrypoint-initnuxeo.d/nuxeo.conf
      - ./nuxeo/init-nuxeo.sh:/docker-entrypoint-initnuxeo.d/init-nuxeo.sh
      - {{ root_path }}/data/nuxeo-binaries:/var/lib/nuxeo/binaries
      - {{ root_path }}/data/{{ nuxeo_node }}/data:/var/lib/nuxeo/data
{% endfor %}
{% if (nuxeo and stream and kafka) %}
  stream:
    image: nuxeo:{{ nuxeo_version }}
    container_name: stream
    hostname: stream
    depends_on:
      - nuxeo
    command: /wait-for-nuxeo.sh /opt/nuxeo/server/bin/stream.sh monitor -k --codec avro -l ALL -i 30 --host graphite --port 2003
    volumes:
      - ./nuxeo/nuxeo.conf:/docker-entrypoint-initnuxeo.d/nuxeo.conf
      - ./stream/docker-entrypoint.sh:/docker-entrypoint.sh
      - ./stream/wait-for-nuxeo.sh:/wait-for-nuxeo.sh
{% endif %}
{% if redis %}
  redis:
    image: redis:{{ redis_version }}
    container_name: redis
    hostname: redis
    volumes:
      - {{ root_path }}/data/redis:/data
{% endif %}
{% if netdata %}
  netdata:
    image: netdata/netdata
    hostname: netdata
    labels:
      - "traefik.port=19999"
      - "traefik.frontend.rule=Host:netdata.docker.localhost"
    environment:
      # must match grep docker /etc/group | cut -d ':' -f 3
      PGID: 999
    cap_add:
      - SYS_PTRACE
    security_opt:
      - apparmor:unconfined
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
{% endif %}
  traefik:
    image: traefik
    container_name: traefik
    command: --api --docker
    ports:
      - 80:80
    labels:
      - "traefik.port=8080"
      - "traefik.frontend.rule=Host:traefik.docker.localhost"
    depends_on:
      - nuxeo
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
{% if elastic %}
volumes:
  esdata:
    driver_opts:
      type: none
      device: {{ root_path }}/data/elastic
      o: bind
{% endif %}
