{% if mongo %}
#nuxeo.mongodb.server=mongodb://[username:password@]host1[:port1][,host2[:port2],...[,hostN[:portN]]][/[database][?options]]
nuxeo.mongodb.server=mongodb://localhost:27017
nuxeo.mongodb.dbname=nuxeo
nuxeo.mongodb.collection=default
{% endif %}
{% if postgres %}
nuxeo.db.user=nuxeo
nuxeo.db.password=nuxeo
nuxeo.db.driver=org.postgresql.Driver
nuxeo.db.jdbc.url=jdbc:postgresql://localhost:5432/nuxeo
{% endif %}
elasticsearch.addressList=localhost:9200
elasticsearch.indexName=nuxeo
