nuxeo.url=http://nuxeo.docker.localhost
nuxeo.templates={{ nuxeo_templates }}

{% if nuxeo_version is version_compare('10.2', '>') %}
{% if kafkaconfluent %}
nuxeo.stream.work.log.codec=avroConfluent
nuxeo.stream.audit.log.codec=avroConfluent
nuxeo.stream.pubsub.log.codec=avroConfluent
{% else %}
nuxeo.stream.work.log.codec=avro
nuxeo.stream.audit.log.codec=avro
nuxeo.stream.pubsub.log.codec=avro
{% endif %}
{% endif %}
{% if nuxeo_cluster %}
{% if nuxeo_version is version_compare('11.0', '>') %}
nuxeo.cluster.enabled=true
{% else %}
repository.clustering.enabled=true
{% endif %}
repository.binary.store=/var/lib/nuxeo/binaries/binaries
{% endif %}
{% if mongo %}
nuxeo.mongodb.server=mongodb:27017
{% elif postgres %}
nuxeo.db.host=postgres
nuxeo.db.name=nuxeo
nuxeo.db.password=nuxeo
{% endif %}
{% if minio %}
# AWS s3 bucket local conf
nuxeo.aws.accessKeyId={{ minio_access_key }}
nuxeo.aws.secretKey={{ minio_secret_key }}
nuxeo.s3storage.bucket={{ minio_bucket }}
nuxeo.s3storage.endpoint=http://minio.docker.localhost
nuxeo.s3storage.region=eu-west-1
nuxeo.s3storage.pathstyleaccess=true
nuxeo.s3storage.directdownload=true
nuxeo.s3storage.directdownload.expire=3600
{% endif %}
{% if kafka or kafkaconfluent %}
kafka.enabled=true
{% if kafkassl %}
# Kafka is configured in SASL PLAIN + SSL
kafka.bootstrap.servers=kafka.docker.test:9092
kafka.ssl=true
kafka.security.protocol=SASL_SSL
kafka.truststore.path=/certs/docker.kafka.client.truststore.jks
kafka.truststore.password={{ kafka_ssl_trustore_password }}
kafka.keystore.path=/certs/docker.kafka.server.keystore.jks
kafka.keystore.password={{ kafka_ssl_keystore_password }}
kafka.sasl.enabled=true
kafka.sasl.mechanism=PLAIN
kafka.sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username="{{ kafka_sasl_plain_user }}" password="{{ kafka_sasl_plain_password }}";
# Debug option SSL option
#JAVA_OPTS=$JAVA_OPTS -Djavax.net.debug=SSL
{% elif kafkaconfluent %}
kafka.bootstrap.servers=kafka:29092
{% else %}
kafka.bootstrap.servers=kafka:9092
{% endif %}
{% endif %}
{% if redis %}
nuxeo.redis.enabled=true
nuxeo.redis.host=redis
{% if not swm %}
nuxeo.work.queuing=redis
{% endif %}
{% else %}
nuxeo.redis.enabled=false
{% endif %}
{% if nuxeo_version is version_compare('9.10', '<') %}
elasticsearch.client=TransportClient
elasticsearch.clusterName=docker-cluster
{% if elastic %}
elasticsearch.indexNumberOfReplicas=0
elasticsearch.indexNumberOfShards=1
#elasticsearch.addressList=elasticsearch:9300
{% endif %}
{% else %}
elasticsearch.client=RestClient
{% if elastic %}
elasticsearch.indexNumberOfReplicas=0
elasticsearch.indexNumberOfShards=1
elasticsearch.addressList=http://elasticsearch:9200
elasticsearch.httpReadOnly.baseUrl=http://elasticsearch:9200
{% endif %}
{% endif %}
{% if swm %}
nuxeo.stream.work.enabled=true
nuxeo.pubsub.provider=stream
{% endif %}

nuxeo.work.queue.common.enabled=true
nuxeo.work.queue.common.threads=2
nuxeo.work.queue.thumbnail.enabled=true
nuxeo.work.queue.thumbnail.threads=2
nuxeo.work.queue.raclupdate.enabled=true


metrics.enabled=true
metrics.jvm.enabled=true
metrics.log4j.enabled=true
metrics.tomcat.enabled=true
metrics.streams.enabled=true
{% if graphite %}
metrics.graphite.enabled=true
metrics.graphite.host=graphite
metrics.graphite.port=2002
metrics.graphite.udp=true
metrics.graphite.pollInterval=30
{% endif %}
{% if prometheus %}
metrics.prometheus.enabled=true
metrics.prometheus.port=8888
{% endif %}
{% if jaeger or zipkin %}
# Use traceparent header or zPage to activate
tracing.sampler.probability=0.0
tracing.attributes.max=512
tracing.annotations.max=512
tracing.zpage.enabled=true
tracing.zpage.port=8887
{% endif %}
{% if mailhog %}
mail.transport.host=mailhog
mail.transport.port=1025
{% endif %}
# nuxeo.vcs.fulltext.search.disabled=true
JAVA_OPTS=$JAVA_OPTS -Dcom.sun.management.jmxremote -Dcom.sun.management.jmxremote.port=1089 -Dcom.sun.management.jmxremote.ssl=false -Dcom.sun.management.jmxremote.authenticate=false -XX:+UnlockDiagnosticVMOptions -XX:+DebugNonSafepoints
{% if jaeger %}
tracing.jaeger.enabled=true
tracing.jaeger.url=http://jaeger:14268/api/traces
#JAVA_OPTS=$JAVA_OPTS  -javaagent:/profiler/opentelemetry-javaagent.jar -Dotel.service.name=nuxeo -Dotel.traces.exporter=jaeger -Dotel.exporter.jaeger.endpoint=http://jaeger:16686
{% endif %}
{% if zipkin %}
tracing.zipkin.enabled=true
tracing.zipkin.url=http://zipkin:9411/api/v2/spans
#JAVA_OPTS=$JAVA_OPTS  -javaagent:/profiler/opentelemetry-javaagent.jar -Dotel.service.name=nuxeo -Dotel.traces.exporter=zipkin -Dotel.exporter.zipkin.endpoint=http://zipkin:9411/api/v2/spans
{% endif %}
