nuxeo.url=http://nuxeo.docker.localhost
nuxeo.templates={{ nuxeo_templates|join(',') }}

elasticsearch.client=RestClient
nuxeo.stream.work.log.codec=avro
nuxeo.stream.audit.log.codec=avro
nuxeo.stream.pubsub.log.codec=avro

{% if nuxeo_cluster %}
repository.clustering.enabled=true
repository.binary.store=/var/lib/nuxeo/binaries/binaries
{% endif %}

{% if mongo %}
nuxeo.mongodb.server=mongodb:27017
{% elif postgres %}
nuxeo.db.host=postgres
nuxeo.db.name=nuxeo
nuxeo.db.password=nuxeo
{% endif %}

{% if kafka %}
kafka.enabled=true
kafka.bootstrap.servers=kafka:9092
{% endif %}

{% if redis %}
nuxeo.redis.enabled=true
nuxeo.redis.host=redis
nuxeo.work.queuing=redis
{% endif %}

{% if elastic %}
elasticsearch.indexNumberOfReplicas=0
elasticsearch.indexNumberOfShards=1
elasticsearch.addressList=http://elasticsearch:9200
elasticsearch.httpReadOnly.baseUrl=http://elasticsearch:9200
{% endif %}

{% if swm %}
nuxeo.stream.work.enabled=true
{% endif %}

{% if jaeger %}
opencensus.exporter.jaeger.url=http://jaeger:14268/api/traces
{% endif %}

{% if zipkin %}
opencensus.exporter.zipkin.url=http://zipkin:9411/api/v2/spans
{% endif %}


{% if graphite %}
metrics.graphite.enabled=true
metrics.graphite.host=graphite
metrics.graphite.port=2003
metrics.graphite.period=30
metrics.tomcat.enabled=true
metrics.log4j.enabled=true
{% endif %}

# nuxeo.vcs.fulltext.search.disabled=true
